body {
  font-family: 'Press Start 2P', monospace;
  background-color: #fff;
  color: #000;
  font-size: 10px;
}

/* Header */
.header {
  background: white;
  border-bottom: 5px solid #000;
  position: -webkit-sticky;
}

.logo {
  font-size: 2rem;
  text-transform: uppercase;
}

.btn-nav {
  text-decoration: none;
  color: black;
  background: #fff;
  border: 2px solid #000;
  padding: 4px 8px;
  box-shadow: 3px 3px #000;
  font-size: 0.8rem;
  transition: 0.2s;
}

.btn-nav:hover {
  background: #ffde59;
  transform: translateY(-2px);
}

/* Announcement Card */
.announcement-bar {
  font-family: 'Press Start 2P', monospace;
  font-size: 14px;
  background: #fff;
  overflow: hidden;
  white-space: nowrap;
  border-radius: 8px;
  box-shadow: 3px 3px #000;
  padding: 6px 0;
}

.scroll-text {
  display: inline-block;
  animation: scroll 20s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media (max-width: 768px) {
  .announcement-bar {
    font-size: 8px;
  }
}


/* Product Card */
.product-card {
  border: 4px solid #000;
  background: #bfe6ff;
  box-shadow: 6px 6px #000;
  transition: 0.3s;
}

.product-card:hover {
  background: #fff3b0;
  transform: translateY(-4px);
}

.card-title {
  font-size: 0.8rem;
  margin-top: 10px;
}

.card-text {
  font-size: 0.6rem;
  color: #222;
}

.btn-pixel {
  border: 3px solid #000;
  background: #ffb6c1;
  color: #000;
  font-size: 0.6rem;
  padding: 6px;
  box-shadow: 3px 3px #000;
  cursor: pointer;
  transition: 0.2s;
}

.btn-pixel:hover {
  background: #ffe066;
  transform: translateY(-2px);
}

/* Footer */
footer {
  font-size: 0.6rem;
  color: #333;
  background: #fff;
}
